<h1 class="font-weight-bold text-center">Nine Man's Morris</h1>
<div class="row">
  <div class="col-9 img">

    <div *ngFor="let stone of stones; let i = index">
      <div
        id={{i}}
        class="stone{{i}}"
        style="{{ stone.cssStyle }}"
        (drop)="drop($event)"
        (dragover)="allowDrop($event)"
      ></div>
    </div>
    <div *ngFor="let stone of reserves; let i = index">
      <div id={{stone}} class="stone stone{{stone}}" *ngIf="i < 9">
        <div
          id=blue{{stone}}
          class="blue"
          [draggable]="!preventDrag"
          (dragstart)="dragStart($event)">
        </div>
      </div>
      <div id={{stone}} class="stone stone{{stone}}"  *ngIf="i > 8">
        <div
          id=blue{{stone}}
          class="red"
          draggable="false"
          (click)="onClick($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <app-instructions [moves]="moves" ></app-instructions>
  </div>
</div>
