.img{
  position: absolute;
  left: 300px;
  max-width: 100%;
  margin-top: 10px;
}

.anim {
  border-color: yellow solid 5px;
}
.invisiable{
  visibility: hidden;
}
.shape {
  position: absolute;
  margin-top: 10px;
  margin-left: 300px;
}
.reserve-1 {
  position: absolute;
  margin-top: 50px;
  margin-left: 50px;
  cursor: pointer;
}
.reserve-2 {
  position: absolute;
  margin-top: 350px;
  margin-left: 50px;
  cursor: pointer;
}

.empty {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.stone0 {
  left: 2px;
  top: 2px;
}
.stone1 {
  left: 264px;
  top: 2px;
}
.stone2 {
  left: 522px;
  top: 2px;
}
.stone3 {
  left: 77px;
  top: 77px;
}
.stone4 {
  left: 264px;
  top: 77px;
}
.stone5 {
  left: 447px;
  top: 77px;
}
.stone6 {
  left: 152px;
  top: 152px;
}
.stone7 {
  left: 264px;
  top: 152px;
}
.stone8 {
  left: 372px;
  top: 152px;
}
.stone9 {
  left: 2px;
  top: 264px;
}
.stone10 {
  left: 77px;
  top: 264px;
}
.stone11 {
  left: 152px;
  top: 264px;
}
.stone12 {
  left: 372px;
  top: 264px;
}
.stone13 {
  left: 447px;
  top: 264px;
}
.stone14 {
  left: 522px;
  top: 264px;
}
.stone15 {
  left: 152px;
  top: 372px;
}
.stone16 {
  left: 264px;
  top: 372px;
}
.stone17 {
  left: 372px;
  top: 372px;
}
.stone18 {
  left: 77px;
  top: 447px;
}
.stone19 {
  left: 264px;
  top: 447px;
}
.stone20 {
  left: 447px;
  top: 447px;
}
.stone21 {
  left: 2px;
  top: 522px;
}
.stone22 {
  left: 264px;
  top: 522px;
}
.stone23 {
  left: 522px;
  top: 522px;
}

.stone24 {
  left: 0px;
  top: 0px;
}
.stone25 {
  left: 60px;
  top: 0px;
}
.stone26 {
  left: 120px;
  top: 0px;
}
.stone27 {
  left: 0px;
  top: 60px;
}
.stone28 {
  left: 60px;
  top: 60px;
}
.stone29 {
  left: 120px;
  top: 60px;
}
.stone30 {
  left: 0px;
  top: 120px;
}
.stone31 {
  left: 60px;
  top: 120px;
}
.stone32 {
  left: 120px;
  top: 120px;
}
.stone33 {
  left: 0px;
  top: 0px;
}
.stone34 {
  left: 60px;
  top: 0px;
}
.stone35 {
  left: 120px;
  top: 0px;
}
.stone36 {
  left: 0px;
  top: 60px;
}
.stone37 {
  left: 60px;
  top: 60px;
}
.stone38 {
  left: 120px;
  top: 60px;
}
.stone39 {
  left: 0px;
  top: 120px;
}
.stone40 {
  left: 60px;
  top: 120px;
}
.stone41 {
  left: 120px;
  top: 120px;
}
