.img{

  background-image: url('../../assets/images/Schwarz.gif');
  background-position: 400px 10px;
  background-repeat: no-repeat;

}

.blue{
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
}
.red{
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

.anim {
  border-color: yellow solid 5px;
}
.invisiable{
  visibility: hidden;
}

.blueStonesCSS{
  position: absolute;
  cursor: pointer;
}
.redStonesCSS {
  position: absolute;
  cursor: pointer;
}

.stone0 {
  left: 390px;
  top: 0px;

}
.stone1 {
  left: 672px;
  top: 0px;
}
.stone2 {
  left: 954px;
  top: 0px;
}
.stone3 {
  left: 484px;
  top: 94px;
}
.stone4 {
  left: 672px;
  top: 94px;
}
.stone5 {
  left: 860px;
  top: 94px;
}
.stone6 {
  left: 578px;
  top: 188px;
}
.stone7 {
  left: 672px;
  top: 188px;
}
.stone8 {
  left: 766px;
  top: 188px;
}
.stone9 {
  left: 390px;
  top: 282px;
}
.stone10 {
  left: 484px;
  top: 282px;
}
.stone11 {
  left: 578px;
  top: 282px;
}
.stone12 {
  left: 766px;
  top: 282px;
}
.stone13 {
  left: 860px;
  top: 282px;
}
.stone14 {
  left: 954px;
  top: 282px;
}
.stone15 {
  left: 578px;
  top: 376px;
}
.stone16 {
  left: 672px;
  top: 376px;
}
.stone17 {
  left: 766px;
  top: 376px;
}
.stone18 {
  left: 484px;
  top: 470px;
}
.stone19 {
  left: 672px;
  top: 470px;
}
.stone20 {
  left: 860px;
  top: 470px;
}
.stone21 {
  left: 390px;
  top: 564px;
}
.stone22 {
  left: 672px;
  top: 564px;
}
.stone23 {
  left: 954px;
  top: 564px;
}

.stone24 {
  left: 50px;
  top: 50px;
}
.stone25 {
  left: 110px;
  top: 50px;
}
.stone26 {
  left: 170px;
  top: 50px;
}
.stone27 {
  left: 50px;
  top: 110px;
}
.stone28 {
  left: 110px;
  top: 110px;
}
.stone29 {
  left: 170px;
  top: 110px;
}
.stone30 {
  left: 50px;
  top: 170px;
}
.stone31 {
  left: 110px;
  top: 170px;
}
.stone32 {
  left: 170px;
  top: 170px;
}
.stone33 {
  left: 50px;
  top: 350px;
}
.stone34 {
  left: 110px;
  top: 350px;
}
.stone35 {
  left: 170px;
  top: 350px;
}
.stone36 {
  left: 50px;
  top: 410px;
}
.stone37 {
  left: 110px;
  top: 410px;
}
.stone38 {
  left: 170px;
  top: 410px;
}
.stone39 {
  left: 50px;
  top: 470px;
}
.stone40 {
  left: 110px;
  top: 470px;
}
.stone41 {
  left: 170px;
  top: 470px;
}
